body {
    margin: 0;
    padding: 0;
    border-style: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cfe8cc; /* Updated background color */
}

.card {
    background-color: #8dd685; /* Updated card background color */
    border-radius: 13px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #74e89f; /* Updated border color */
    max-width: 400px;
}

h1 {
    text-align: center;
    background-color: #a1ccad; /* Updated heading background color */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    overflow: hidden;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
}

.clock {
    padding: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.time-element {
    font-size: 48px;
    font-weight: bold;
    color: #333; /* Updated time element color */
    margin: 0px 10px;
}

.colon-element {
    font-size: 32px;
    font-weight: bold;
    color: #333; /* Updated colon element color */
    margin: 0px 10px;
}
